$bg-light: #f9f9fb;
$bg-dark: #202230;
$bg-blue: #070f4d;
$text-dark: #333;
$text-light: #fff;
$accent-red: #e51907;
$accent-green: #74fd35;
$accent-blue: #150a8d;

$font-primary: "Roboto", sans-serif;

$bp-mobile-small: 25em; 
$bp-mobile-medium: 37.5em; 
$bp-tablet: 48em; 
$bp-tablet-large: 64em; 
$bp-desktop-small: 80em; 
$bp-desktop-medium: 90em;
